// fonts
$font-sans: 'Montserrat', sans-serif

//  Font sizes

// $font-size-header-main: calc(5vw + 22px)
// $font-size-header: calc(3vw + 15px)
// $font-size-short: calc(1vw + 10px)
// $font-size-text: calc(.3vw + 13px)

$font-size-header: calc(.8vw + 22px)
$font-size-header-main: calc(2.6vw + 22px)
$font-size-short: calc(2.2vw + 10px)
$font-size-short-wide: calc(1.2vw + 10px)
$font-size-text: calc(.4vw + 13px)

$line-height-header: 1.2em
$line-height-text: 1.8em
