.intro-bcg
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 100vh
	background-color: $color-blue

.intro-bcg-shapes
	position: relative
	width: auto
	height: auto
	max-width: 90vw
	margin: 0 auto
