.section
	position: relative
	width: 100%
	max-width: $width-max-box - 100px
	padding: 150px $global-padding
	margin: 50px auto

	&__header
		+font($font-size-header, $line-height-header, 700)
		margin-bottom: 50px
		text-align: right
		text-transform: uppercase
		letter-spacing: 2px
		color: rgba(#000, .4)

		span
			position: relative
			display: inline-block
			color: $color-cherry

			+media(m)
				&::before
					+center($left: 100%)
					content: ''
					height: 150px
					width: 150px
					border-radius: 100%
					background-color: rgba($color-cherry, .2)

		&--main
			+font($font-size-header-main, $line-height-header, 700)

	&__short
		+font($font-size-short, $line-height-text)

		+media(s)
			+font($font-size-short-wide, $line-height-text)

		+media(l)
			+font($font-size-short-wide-max, $line-height-text)

	&__list
		padding-left: 20px
		width: 40%

		li
			+font(10px, $weight: 700)
			position: relative
			text-transform: uppercase

	&--split
		display: flex
		align-items: flex-start
		justify-content: center
		max-width: $width-max-box

		.section__header
			width: 50%
			margin-right: $global-padding

			span:not(:first-of-type)
				color: rgba(#000, .4)

				&::before
					display: none
