.section
	position: relative
	max-width: $width-max-box
	padding: 150px $global-padding
	margin: 50px auto

	&__header
		+font($font-size-header, $line-height-header, 700)
		margin-bottom: 50px
		text-align: right
		text-transform: uppercase
		letter-spacing: 2px
		color: rgba(#000, .4)

		span
			position: relative
			display: inline-block
			color: $color-cherry

			&::before
				+center($left: 100%)
				content: ''
				height: 150px
				width: 150px
				border-radius: 100%
				background-color: rgba($color-cherry, .2)

		&--main
			+font($font-size-header-main, $line-height-header, 700)

	&__short
		+font($font-size-short, $line-height-text)

	&__list
		padding-left: 20px
		margin-left: 20px

		li
			+font(10px, $weight: 700)
			position: relative
			text-transform: uppercase

	&--split
		display: flex
		align-items: center
		justify-content: center

		.section__header
			width: 50%
			margin-right: $global-padding

			span:not(:first-of-type)
				color: rgba(#000, .4)

				&::before
					display: none
